html {
  box-sizing: border-box;
  font-size: 16px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #7c7c7c;
  font-weight: normal; }

tbody {
  width: 100%; }

header {
  padding: 10px;
  height: 7vh;
  border-bottom: 2px solid lightgray; }

.main-container {
  display: flex; }
  .main-container .view-selector {
    display: flex;
    flex-direction: column;
    flex: 1; }
  .main-container .table-container {
    flex: 7;
    padding: 20px; }
    .main-container .table-container p {
      font-size: 2em; }
    .main-container .table-container #exam-average {
      font-size: 1em; }

#single-exam-table-container {
  display: none;
  flex-direction: column; }

.exams-selector {
  background-color: #eeeded;
  height: 50vh;
  max-height: 50vh;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.students-selector {
  flex: 1;
  height: 50vh;
  max-height: 50vh;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.circle {
  background-color: #d6d5d5;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  margin-bottom: 3vh; }

.tables {
  border: 2px solid lightgray;
  margin-top: 2vh;
  width: 100%;
  display: flex; }
  .tables tr {
    display: flex; }
    .tables tr th {
      height: 7vh;
      flex: 1;
      text-align: start;
      padding-left: 5vw;
      border-bottom: 2px solid lightgray;
      padding-top: 2vh;
      font-weight: inherit; }
    .tables tr td {
      height: 5vh;
      flex: 1;
      margin: 0%;
      border-spacing: 0px;
      padding-left: 5vw;
      padding-top: 1vh;
      border-bottom: 2px solid lightgray; }
  .tables td:nth-child(2) {
    border-left: 2px solid lightgray; }
  .tables td:nth-child(3) {
    border-left: 2px solid lightgray; }
  .tables tr:hover td {
    background-color: darkgray;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
